@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
hr {
  height: 1px;
  color: black;
  background-color: black;
  border: none;
}

i {
  font-family: fontawesome !important;
  }
